body {
	font-family: sans-serif;
	font-size: 1rem;
	margin: 4rem;
}

body > *:not(:last-child) {
	margin: 0 0 2rem 0;
}

label {
	display: block;
	margin: 0.5rem 0;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #000000;
	padding: 0.5rem;
}

input {
	padding: 0.25rem;
	display: block;
}

dl {
	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}

.hidden {
	display: none;
}

.answer-text {
	color: #ff0000;
	padding-left: 0.5rem;
}

#question-body > *:not(:last-child) {
	margin: 0 0 1rem 0;
}

s {
	color: #f0f0f0;
}

textarea {
	display: block;
}
